<template name="menu"> 
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li class="active"><a class="navbar-brand" href="{{pathFor 'main'}}">Meteor</a></li>
			<li><a href="{{pathFor 'allObjects'}}">Objects</a></li>
			<li><a href="{{pathFor 'map'}}">Geo portal</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="/" onclick="Meteor.logout()">Log out</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
</template>